* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 15px 30px;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.navbar nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #111;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: #ff9800;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

/* CATEGORIES */
.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: #fff;
    padding: 30px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}

/* WHY */
.why {
    background: #fff;
    padding: 40px;
    text-align: center;
}

/* FEATURED */
.featured {
    padding: 40px;
    text-align: center;
}

/* PRODUCT */
.product {
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

.highlights li {
    margin: 10px 0;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

/* FOOTER */
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .categories {
        flex-direction: column;
        align-items: center;
    }
}
.gallery {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.gallery img {
    width: 200px;
    border-radius: 5px;
}

.card:hover,
.product-card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.btn:hover {
    background-color: #e68900;
    cursor: pointer;
}
